body {
    background-color: #FFFFFF ;
    font-family: "area-variable",sans-serif;
    margin-left:auto;
    margin-right:auto;
    margin: auto; 
    text-align: left; 
    
  }

.title {
    padding-left: 24px;
    margin-left: 40px;
    margin-top: 24px; 
}

.navbar {
    width: 100%;
    text-align: left;
    /* margin-top: 5pt; */ 
   /*  margin-left: 20pt; */
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 40px;
    font-size: 16px; 
    background-image: linear-gradient(to right, #DAC1E2, #F8F1F9);
}

li {
    display: inline-flex; 
    text-align: left;
    padding: 0.25em 1.5em 0.25em 1.5em;
}

a {
    color: #371B5A;
    font-size: 16px;
    text-decoration: none; 
    height: 58px;
    line-height: 58px;
    font-weight: 600;
}

.colour {
    color: #371B5A; 
}

button {
    background-color: #FFFFFF;
    padding: 8px 24px;
    border: solid; 
    border-color: #371B5A;
    font-size: 14px;
    border-radius: 24px;
    font-weight: 600; 
    color: #371B5A; 
    margin-top: 24px; 
}

button:hover {
    color: white; 
    border-radius: 24px;
    background-color: #371B5A;
    font-weight: 600; 
}
