body {
    background-color: #FFFFFF ;
    font-family: "area-variable",sans-serif;
    font-variation-settings: 'INKT' 0, 'wght' 600, 'wdth' 100, 'slnt' 0;
    margin-left:auto;
    margin-right:auto;
    margin: auto; 
    text-align: left; 
    
  }

.padding {
    padding-left: 20px;
    margin-left: 30px; 
}

.navbar {
    left: 0;
    width: 101%;
    text-align: left;
    /* margin-top: 5pt; */ 
   /*  margin-left: 20pt; */
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 40px;
    top: 0; 
    background-image: linear-gradient(to right, #DAC1E2, #F8F1F9);
}

li {
    display: inline-flex; 
    text-align: left;
    padding: 0.25em 1.5em 0.25em 1.5em;
}

a {
    color: #371B5A;
    font-size: 16px;
    text-decoration: none; 
    letter-spacing: 1px;
    height: 58px;
    line-height: 58px;
}

.colour {
    color: #371B5A; 
}

button {
    background-color: #FFFFFF;
    padding: 16px 32px;
    border: solid; 
    border-color: #371B5A;
    font-family: "area-variable",sans-serif;
    font-variation-settings: 'INKT' 0, 'wght' 600, 'wdth' 100, 'slnt' 0;
    font-size: 14px;
    border-radius: 24px;
}
